@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light color scheme */
:root {
    --color-beige: 245, 245, 220;
    --color-sepia: 112, 66, 20;
    --color-gold: 212, 175, 55;
    --color-white: 255, 255, 255;
    --color-light-gray: 250, 250, 250;
    /* Dark color scheme */
    --color-dark-beige: 32, 32, 29;
    --color-dark-sepia: 245, 222, 179;
    --color-dark-gold: 138, 117, 37;
    --color-black: 0, 0, 0;
    --color-dark-gray: 43, 43, 43;
}

body {
    color: rgb(var(--color-sepia));
    background-color: rgb(var(--color-beige));
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
.dark-mode {
    color: rgb(var(--color-dark-sepia));
    background-color: rgb(var(--color-dark-beige));
}

@layer components {
    .btn {
        @apply py-2 px-4 font-semibold rounded-lg shadow-md transition-colors;
    }

    .btn-gold {
        @apply text-white bg-[rgb(var(--color-gold))] hover:bg-[rgb(var(--color-gold))] hover:bg-opacity-90;
    }

    .btn-sepia {
        @apply text-white bg-[rgb(var(--color-sepia))] hover:bg-[rgb(var(--color-sepia))] hover:bg-opacity-90;
    }

    /* Dark mode button styles */
    .dark-mode .btn-gold {
        @apply bg-[rgb(var(--color-dark-gold))] hover:bg-[rgb(var(--color-dark-gold))] hover:bg-opacity-90;
    }

    .dark-mode .btn-sepia {
        @apply bg-[rgb(var(--color-dark-sepia))] hover:bg-[rgb(var(--color-dark-sepia))] hover:bg-opacity-90;
    }
}

@layer utilities {
    .fill-sepia {
        fill: rgb(var(--color-sepia));
    }

    .stroke-gold {
        stroke: rgb(var(--color-gold));
    }

    /* Dark mode utility classes */
    .dark-mode .fill-sepia {
        fill: rgb(var(--color-dark-sepia));
    }

    .dark-mode .stroke-gold {
        stroke: rgb(var(--color-dark-gold));
    }
}